/**{
	border:1px solid black;
}*/

html,body{
	margin:0;
	padding: 0;
	width: 100%;
	height: 200em;
}

div#cabecera{
	position:fixed;
	background-color: hsla(136, 5%, 95%, 1.0);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 10em;
	z-index: 99;  /* cabecera encima cuando divs pasan por debajo de ella */
	transition: all 1s;
}
div#cabecera:hover, div#cabecera p:hover{
	background-color: hsla(136, 5%, 45%, 1.0);
	color: hsla(207, 96%, 60%, 1.0);;
}

button{
	border-radius: 0.5em;
	float: right;
	margin: 1em;
	padding: 0.5em;
	transition: all 1s;
}

div form button:hover{
	background-color: hsla(207, 96%, 60%, 1.0);
	color: white;
}

div p{
	position: absolute;
	background-color: transparent;
	color: white;
	font-size: 3em;
	font-weight: bold;
	font-style: normal;
	font-family: sans-serif;
}

div#clear{
	clear: both;
}

div#pos1{
	position: relative;
	top: 8.90em;
	height: 32em;
	background-color: hsla(207, 96%, 60%, 1.0);
	transition: all 1s;
}
div#pos1:hover{
	background-color: hsla(207, 96%, 50%, 1.0);
}

div#pos2{
	position: relative;
	top: 8.90em;
	height: 32em;
	background-color: hsla(11, 96%, 55%, 1.0);
	transition: all 1s;
}
div#pos2:hover{
	background-color: hsla(11, 96%, 45%, 1.0);
}
